.horizontal-nav ul li {
  padding: 0, 2em;
}

.horizontal-nav h1 {
  color: #fff;
}

.contact, a {
  text-decoration: none;
  color: var(--color-secondary-light);
}

a:hover {
  color: var(--color-primary);
  font-weight: bold;
}

header {
  background-color: #2e2e2e;
}
