.sidenav {
  background-color: var(--color-sidebar);


}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: var(--color-secondary-light);
  display: block;
}

.sidenav a:hover {
  color: var(--color-primary);
}

.title {
  display: block;
  color: var(--color-primary);
}
