---
layout: default
---
<main role="main" id="main" tabindex="0">
<div class="grid">
  <div class="unit xs-0 s-0 m-1-4 l-1-4">
    {% pattern side-navbar/nav-list %}
  </div>
  <div class="unit xs-1 s-1 m-3-4 l-3-4 pad-t-2">
    {% pattern side-navbar/breadcrumbs %}
    <h1 class="island push">{{page.name}}</h1>
    {% pattern sections/product-details heading="Genius Potion" text="Place in water for 24 hrs before drinking to stimulate genius part of brain" image="/images/potato.jpg" %}
    <h2 class="island pad-t-2">Supplement with these for added proctection</h2>
    <div class="grid grid-stretch gutter-1-2">
      {% for product in site.products limit: 2 %}
      <div class="unit-content-distribute unit xs-1-2 s-1-2 m-1-2 l-1-2 gutter-1-2">
          {% pattern cards/product-card data=product %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
