figure {
  border: solid 4px var(--color-secondary-light);
  border-radius: 8px;
}
.fig-content-center {
   background-color: #292828;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
